<div class="fade-in">
  <mat-card>
    <h2>My Cases</h2>
    <a *ngFor="let case of cases" [routerLink]="['/case', case.id]">
      <mat-card matRipple fxLayout="column" class="mat-elevation-z2" style="margin-bottom: 8px;">
        <small>{{case.timestamp |date}}</small>
        <p>Case ID: {{case.id}}</p>
        <p>Case Type: {{case.caseType}}</p>
        <p>Case Status: {{case.caseStatus}}</p>
      </mat-card>
    </a>

  </mat-card>

  <div style="margin-top: 16px;" fxLayout="row" fxLayoutAlign="end">
    <a mat-button color="primary" [routerLink]="['/home']">Return</a>
  </div>
</div>
