.case-detail-container span {
    margin:4px;
    margin-top: 0;
    margin-bottom: 0;
}

.case-detail-container {
    margin:-4px;
    margin-top: 0;
    margin-bottom: 0;
}

.case-content {
    background-color: #e2e2e2;
    border-radius: 4px;
    padding:8px;
    margin-top: 8px;
    min-height: 50px;
}